.git
.gitignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
docker/
models/*.csv
models/*.ipynb
models/*.json
models/*.txt
models/*.pkl
!models/nlp_toxic_model_vi_final.pkl
!models/nlp_toxic_model_en_final.pkl
